
.icon-casadaarquitectura-logo {
  background-image: url(/assets/icons/casadaarquitectura-logo.svg);
  background-repeat: no-repeat;
}

.icon-chevron-down-hover {
  background-image: url(/assets/icons/chevron-down-hover.svg);
  background-repeat: no-repeat;
}

.icon-chevron-down {
  background-image: url(/assets/icons/chevron-down.svg);
  background-repeat: no-repeat;
}

.icon-menu-close {
  background-image: url(/assets/icons/menu-close.svg);
  background-repeat: no-repeat;
}

.icon-menu-hamburger {
  background-image: url(/assets/icons/menu-hamburger.svg);
  background-repeat: no-repeat;
}

.icon-ohp-logo {
  background-image: url(/assets/icons/ohp-logo.svg);
  background-repeat: no-repeat;
}

.icon-picto-maxpeople {
  background-image: url(/assets/icons/picto-maxpeople.svg);
  background-repeat: no-repeat;
}

.icon-picto-photography-no {
  background-image: url(/assets/icons/picto-photography-no.svg);
  background-repeat: no-repeat;
}

.icon-picto-photography-yes {
  background-image: url(/assets/icons/picto-photography-yes.svg);
  background-repeat: no-repeat;
}

.icon-picto-reservations-no {
  background-image: url(/assets/icons/picto-reservations-no.svg);
  background-repeat: no-repeat;
}

.icon-picto-reservations-yes {
  background-image: url(/assets/icons/picto-reservations-yes.svg);
  background-repeat: no-repeat;
}

.icon-picto-tickets-yes {
  background-image: url(/assets/icons/picto-tickets-yes.svg);
  background-repeat: no-repeat;
}

.icon-picto-universalaccess-no {
  background-image: url(/assets/icons/picto-universalaccess-no.svg);
  background-repeat: no-repeat;
}

.icon-picto-universalaccess-yes {
  background-image: url(/assets/icons/picto-universalaccess-yes.svg);
  background-repeat: no-repeat;
}

.icon-openhouseworldwide-white {
  background-image: url(/assets/icons/openhouseworldwide-white.svg);
  background-repeat: no-repeat;
}

.icon-casadaarquitectura-white {
  background-image: url(/assets/icons/casadaarquitectura-white.svg);
  background-repeat: no-repeat;
}

.icon-cmgaia-white {
  background-image: url(/assets/icons/cmgaia-white.svg);
  background-repeat: no-repeat;
}

.icon-cmmatosinhos-white {
  background-image: url(/assets/icons/cmmatosinhos-white.svg);
  background-repeat: no-repeat;
}

.icon-cmporto-white {
  background-image: url(/assets/icons/cmporto-white.png);
  background-repeat: no-repeat;
}

.icon-chevron-down-white {
  background-image: url(/assets/icons/chevron-down-white.svg);
  background-repeat: no-repeat;
}

.icon-chevron-left-white {
  background-image: url(/assets/icons/chevron-left-white.svg);
  background-repeat: no-repeat;
}

.icon-chevron-right-white {
  background-image: url(/assets/icons/chevron-right-white.svg);
  background-repeat: no-repeat;
}

.icon-chevron-up-white {
  background-image: url(/assets/icons/chevron-up-white.svg);
  background-repeat: no-repeat;
}

.icon-social-email {
  background-image: url(/assets/icons/social-email.svg);
  background-repeat: no-repeat;
}

.icon-social-facebook {
  background-image: url(/assets/icons/social-facebook.svg);
  background-repeat: no-repeat;
}

.icon-social-instagram {
  background-image: url(/assets/icons/social-instagram.svg);
  background-repeat: no-repeat;
}

.icon-social-pinterest {
  background-image: url(/assets/icons/social-pinterest.svg);
  background-repeat: no-repeat;
}

.icon-social-twitter {
  background-image: url(/assets/icons/social-twitter.svg);
  background-repeat: no-repeat;
}

